*.user
*.suo
Client/ror-updater/bin
Client/ror-updater/obj
Client/.vs

*.pfx

**/packages/*
!**/packages/repositories.config

node_modules
Server/win32/*
!Server/win32/Put files in here
Server/\.idea/
