name: Build

on: [ push, pull_request ]

jobs:
  build:
    name: Windows build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2.4.0

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1

      - name: Build
        run: |
          nuget restore ror-updater.sln
          msbuild /p:Configuration=Release /p:Platform="Any CPU" -p:RestorePackagesConfig=true /m ror-updater.sln

      - name: Create redis folder
        run: cmake -P ./tools/copy_build.cmake

      - name: Upload client
        uses: actions/upload-artifact@v2
        with:
          name: client
          path: redist/client

      - name: Upload listgenerator
        uses: actions/upload-artifact@v2
        with:
          name: listgenerator
          path: redist/listgenerator
    
      - name: Upload client
        uses: actions/upload-artifact@v2
        with:
          name: selfupdater
          path: redist/selfupdater